@page "/"
@layout LandingLayout

<div class="landing-content">
    <h2>Bienvenue sur Nethra Media Hub</h2>
    <p>Découvrez vos films et séries préférés facilement grâce à TMDB.</p>
    <a href="/login" class="btn-discover">Découvrir NMH</a>
</div>