@page "/login"
@using NMH.Shared.DTOs
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http
@inject NavigationManager Navigation
@using Microsoft.JSInterop
@inject IJSRuntime JS

<h3>Connexion</h3>

<EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
    <InputText @bind-Value="loginModel.UserName" placeholder="Nom d'utilisateur" />
    <InputText @bind-Value="loginModel.Password" type="password" placeholder="Mot de passe" />
    <button type="submit">Se connecter</button>
</EditForm>

<p>@message</p>

@code {
    private LoginDto loginModel = new LoginDto();
    private string message = "";

    private async Task HandleLogin()
    {
        var response = await Http.PostAsJsonAsync("api/auth/login", loginModel);

        if (response.IsSuccessStatusCode)
        {
            var token = await response.Content.ReadFromJsonAsync<LoginResponse>();
            if (token != null)
                await JS.InvokeVoidAsync("localStorage.setItem", "jwtToken", token.Token);

            message = "Connexion réussie !";
            Navigation.NavigateTo("/home");
        }
        else
        {
            var error = await response.Content.ReadAsStringAsync();
            message = $"Erreur : {error}";
        }
    }

    public class LoginResponse
    {
        public string Token { get; set; } = "";
    }
}