<footer class="nmh-footer">

    <div class="footer-container">

        <p class="footer-top">
            Questions ? Contactez-nous.
        </p>

        <div class="footer-links">

            <div class="footer-col">
                <a href="#">Accueil</a>
                <a href="#">Films populaires</a>
                <a href="#">Séries</a>
                <a href="#">Nouveautés</a>
            </div>

            <div class="footer-col">
                <a href="#">Compte</a>
                <a href="#">Préférences</a>
                <a href="#">Historique</a>
                <a href="#">Paramètres</a>
            </div>

            <div class="footer-col">
                <a href="#">Centre d'aide</a>
                <a href="#">Conditions d'utilisation</a>
                <a href="#">Confidentialité</a>
                <a href="#">Cookies</a>
            </div>

            <div class="footer-col">
                <a href="#">À propos</a>
                <a href="#">Projet POO</a>
                <a href="#">IFOSUP Wavre</a>
                <a href="#">TMDB</a>
            </div>

        </div>

        <p class="footer-bottom">
            © 2026 <span>Nethra Media Hub</span>
        </p>

    </div>

</footer>