@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="landing-layout">
    <header class="header2">
        <div class="logo">NMH</div>
        <h1>Nethra Media Hub</h1>
        <div class="buttons">
            <a href="/login" class="btn">Se connecter</a>
            <a href="/register" class="btn">S'inscrire</a>
        </div>
    </header>

    <main class="landing-content">
        @Body
    </main>

    <Footer />
</div>