@inherits LayoutComponentBase
@namespace NMH.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<div class="page">
    <header class="header1">
        <div class="logo">NMH</div>
        <nav>
            <ul>
                <li><a href="/home">Accueil</a></li>
                <li><a href="/search">Recherche</a></li>
                <li><a href="/watchlist">À Voir</a></li>
                <li><a href="/library">Bibliothèque</a></li>
            </ul>
        </nav>
        <div class="user-info">@userName</div>
    </header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <Footer />
</div>

@code {
    private string userName = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            userName = user.Identity.Name;
        }
    }
}