<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NMH</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <span class="bi bi-film" aria-hidden="true"></span> Films tendances
            </NavLink>
        </div>

        <!-- ✅ AJOUT SERIES -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="series">
                <span class="bi bi-tv" aria-hidden="true"></span> Séries tendances
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-person-plus" aria-hidden="true"></span> Inscription
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Connexion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="protected">
                <span class="bi bi-shield-lock" aria-hidden="true"></span> Page protégée
            </NavLink>
        </div>
    </nav>
</div>